/node_modules
/.pnp
.pnp.js
/.next/
/out/
.next
/build
/dist
.DS_Store
*.pem
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode
.idea
*.swp
*.swo
*~
.prisma
generated
pids
*.pid
*.seed
*.pid.lock
.npm
*.tgz
Thumbs.db
